<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tapc.platform">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    //存储
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    //网络
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    //获取当前activity
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".application.TapcApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.start.StartActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustNothing|stateUnchanged"/>
        <activity
            android:name=".ui.activity.run.RunCommonActivity"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".ui.activity.run.RunInforActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activity.run.RunVaActivity"/>

        <activity android:name=".ui.activity.stop.StopActivity"/>

        <activity android:name=".ui.activity.start.CountdownActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <service android:name=".service.StartService">
            <intent-filter>
                <action android:name=".service.StartService"/>
            </intent-filter>
        </service>

    </application>

</manifest>